@import "../../../variables.scss";

.title-box {
  width: fit-content;
  text-align: center;
  margin: 0px auto;
  h2 {
    padding-bottom: 5px;
    border-bottom: 4px solid $purple;
  }
}

@include media-m{
  .title-box {
    margin: 20px 0px;
  }
}
