@import "../../../variables.scss";

.title-box {
  width: fit-content;
  height: 90px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  h2 {
    padding-bottom: 5px;
    border-bottom: 4px solid $purple;
  }
}
