@import "../../../../variables.scss";

.box {
  padding:2em 4em;
  border: 2px solid $gray-100;
  border-radius: $border-radius;
}

@media (max-width:500px){
  .box{
    padding: 1.5em 2em;
  }
}

@include media-s{
  .box{
    padding: 0em;
    border:none;
  }
}