@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-size: $font;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $dark;
}

input {
  font-family: "Comfortaa", cursive;
}

button {
  font-size: $font-s;
}

@include media-m {
  body {
    margin-bottom: 90px;
  }
}
