@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg;
  font-size: $font;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $dark;
}

input {
  &::placeholder {
    font-family: sans-serif;
    color: $dark;
  }
  font-family: sans-serif;
}

button {
  font-size: $font-s;
}

@include media-m {
  body {
    margin-bottom: 90px;
  }
}
