@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  width: 82vw;
  margin: 0 auto;
  font-size: $font;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $dark;
}

input{
  font-family: 'Comfortaa', cursive;
}

@include media-xl{
  body{
    width: 95vw;
  }
}