$main-bg:#f2f2f2;
$white:#fff;
$purple: #7b2cbf;
$light-purple: #c6b6d3;
$orange: #ff9100;
$dark: #0b090a;
$very-light-blue: #edf2fb;
$font-s: 16px;
$font: 19px;
$font-ml: 25px;
$font-ll: 30px;
$font-l: 35px;
$font-xl: 42px;
$font-xxl: 48px;
$border-radius: 25px;

@mixin flexrow($justify, $align) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexcolumn($justify, $align) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin media-xl {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin media-l {
  @media (max-width: 1050px) {
    @content;
  }
}

@mixin media-ml {
  @media (max-width: 850px) {
    @content;
  }
}

@mixin media-m {
  @media (max-width: 630px) {
    @content;
  }
}

@mixin media-s{
  @media (max-width:400px) {
    @content;
  }
}