$main-bg: #f2f2f2;
$white: #fff;
$gray: #e5e5e5;
$gray-100: #dee2e6;
$purple: #7b2cbf;
$light-purple: #c6b6d3;
$orange: #ff9100;
$dark: #0b090a;
$very-light-blue: #edf2fb;
$red: #d00000;
$green:#008000;
$body-overlay: rgba(0, 0, 0, 0.479);
$font-xs: 14px;
$font-s: 16px;
$font: 19px;
$font-ml: 25px;
$font-ll: 30px;
$font-l: 35px;
$font-xl: 42px;
$font-xxl: 48px;
$border-radius-s: 10px;
$border-radius: 25px;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

@mixin flexrow($justify, $align) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexcolumn($justify, $align) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin media-xxl {
  @media (max-width: 1430px) {
    @content;
  }
}

@mixin media-xl {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin media-l {
  @media (max-width: 1050px) {
    @content;
  }
}

@mixin media-ml {
  @media (max-width: 850px) {
    @content;
  }
}

@mixin media-m {
  @media (max-width: 630px) {
    @content;
  }
}

@mixin media-s {
  @media (max-width: 400px) {
    @content;
  }
}
