@import "../../../../variables.scss";

.options {
  @include flexrow(space-between, center);
  align-self: normal;
  font-size: $font-ml;
  font-weight: bolder;
  cursor: pointer;
  .option-item {
    &:active {
      animation: clicked 0.4s ease-out;
    }
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      height: 4px;
      width: 100%;
      background-color: $orange;
      left: 0;
      transform: scale(0);
    }
  }
  .active {
    &::before {
      transform: scale(1);
    }
  }
}

@include media-ml{
  .options{
    font-size: $font;
  }
}

@include media-m{
  .options{
    display: grid;
    grid-template-columns: repeat(2 , auto);
    row-gap: 30px;
    justify-content: space-between;
  }
}

@include media-s{
  .options{
    @include flexcolumn(center , center);
    gap: 30px;
  }
}

@keyframes clicked {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(0.9) rotate(7.5deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.1) rotate(-7.5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
