@import "../../variables.scss";

.container {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  justify-content: space-between;
  width: 100%;
}

@include media-xxl {
  .container {
    grid-template-columns: repeat(2, 280px);
    row-gap: 75px;
    justify-content: space-evenly;
  }
}

@include media-m{
  .container{
    margin-top: 20px;
    grid-template-columns: repeat(1,280px);
  }
}