@import "../../variables.scss";

.item {
  @include flexcolumn(center, center);
  gap: 40px;
  width: 280px;
  height: 350px;
  border: 5px solid $gray-100;
  border-radius: $border-radius;
  cursor: pointer;
}
