@import "../../variables.scss";

.title {
  @include flexcolumn(center, center);
  gap: 25px;
  h1 {
    font-size: 62px;
    font-weight: bolder;
  }
  p{
    font-size: $font-xxl;
  }
}

@include media-m{
  .title{
    h1{
      font-size: $font-xxl;
    }
    p{
      font-size: $font-xl;
    }
  }
}
@include media-s{
  .title{
    h1{
      font-size: $font-l;
    }
    p{
      font-size: $font-ml;
    }
  }
}
