@import "../../../variables.scss";

.section {
  @include flexcolumn(center, center);
  gap: 17px;
  min-height: calc(100vh - 70px);
  .desc {
    h1 {
      font-size: $font-xl;
    }
    @include flexcolumn(center, center);
    gap: 5px;
    .works {
      color: $purple;
      font-family: "Courier New", Courier, monospace;
    }
  }
  .main-content {
    @include flexrow(space-between, center);
    width: 100%;
    .side-column {
      @include flexcolumn(space-between, center);
      align-self: normal;
    }
  }
}

@include media-l {
  .section {
    gap: 25px;
    .main-content {
      flex-direction: column;
      margin-top: 10px;
      gap: 20px;
      .side-column {
        flex-direction: row;
        font-size: 15px;
      }
    }
  }
}

@include media-m {
  .section {
    margin-top: 25px;
    .desc {
      font-size: $font-s;
      h1 {
        font-size: $font-ml;
      }
    }
    .main-content {
      .main-column {
        img {
          width: 65vw;
          height: auto;
        }
      }
      .side-column {
        flex-direction: column;
      }
    }
  }
}
