@import "../../variables.scss";

.information {
  @include flexrow(space-between, center);
  margin-top: 20px;
  font-size: $font-s;
  &-item {
    @include flexcolumn(center, center);
    width: 275px;
    gap: 15px;
    position: relative;
    padding: 1em;
    border: 3px solid $very-light-blue;
    .icon-box {
      border-radius:0px 0px 25px 0px;
      @include flexcolumn(center , center);
      width: 42px;
      height: 42px;
      background-color: $light-purple;
      position: absolute;
      top: -21px;
      left: 5%;
      .icon {
        color: $purple;
      }
    }
  }
}
