@import "../../variables.scss";

.hero {
  @include flexrow(center, center);
  max-width: 1450px !important;
  margin: 60px auto 0px;
  gap: 50px;
  .text {
    height: 410px;
    max-width: 600px;
    @include flexcolumn(space-between, flex-start);
    font-size: $font-ml;
    h2 {
      font-size: $font-xl;
      .search {
        color: $orange;
      }
    }
  }
}
