@import "../../variables.scss";

.hero {
  @include flexrow(center, center);
  max-width: 1650px !important;
  min-height: calc(100vh - 80px);
  margin: 0px auto;
  gap: 50px;
  .text {
    @include flexcolumn(space-between, flex-start);
    height: 410px;
    max-width: 600px;
    font-size: $font-ml;
    h2 {
      font-size: $font-xl;
      .search {
        color: $orange;
      }
    }
  }
}

@include media-l {
  .hero {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0px;
    .text {
      text-align: center;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }
  }
}

@include media-m {
  .hero {
    justify-content: space-evenly;
    min-height: calc(100vh - 160px);
    .text {
      font-size: $font;
      h2 {
        font-size: $font-l;
      }
    }
    .image {
      width: 90vw;
      height: auto;
      margin: 0 auto;
    }
  }
}
