@import "../../variables.scss";

.search {
  @include flexrow(center, center);
  text-align: center;
  input,
  button {
    border-radius: $border-radius;
    height: 45px;
  }
  input {
    font-size: $font-s;
    outline: none;
    border: none;
    background-color: $gray-100;
    width: 350px;
    transition: 0.3 ease-in-out;
    padding: 1em;
  }
  button {
    cursor: pointer;
    width: 100px;
    margin-left: -50px;
    border: none;
    background-color: $orange;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .icon {
    color: $white;
  }
}

@include media-m {
  .search {
    button {
      width: 75px;
    }
    input {
      width: 280px;
    }
  }
}

@include media-s {
  .search {
    button {
      width: 70px;
    }
    input {
      width: 250px;
    }
  }
}
