@import "../../variables.scss";

.container {
  min-height: calc(100vh - 140px);
  width: 100%;
  @include flexrow(space-evenly, center);
}

@include media-l {
  .container {
    margin-top: 50px;
    flex-direction: column;
    min-height: auto;
    gap: 70px;
  }
}
