@import "../../../../variables.scss";

.form {
  width: 325px;
  @include flexcolumn(center, center);
  gap: 20px;
  .input-control {
    @include flexcolumn(flex-start, flex-start);
    gap: 4px;
    align-self: normal;
  }
}

@include media-s {
  .form {
    width: 290px;
  }
}
