@import "../../variables.scss";

.container {
  @include flexcolumn(center, center);
  align-self: normal !important;
  gap: 20px;
}

@include media-l{
  .container .image{
    width: 80vw!important;
    height: auto!important;
  }
}
