@import "../../../../variables.scss";

.container {
  @include flexcolumn(center, center);
  width: 70%;
  gap: 40px;
  padding: 2em;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  position: relative;
  h2 {
    color: $orange;
    text-align: center;
  }
  .preference-box {
    @include flexrow(flex-start, center);
    gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
  }
  .icon {
    width: 45px;
    height: 45px;
    background-color: $purple;
    border-radius: 50px;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    &:hover {
      border: 1px solid $light-purple;
      box-shadow: $box-shadow;
    }
    .arrow {
      color: $white;
    }
  }
  .forward {
    position: absolute;
    top: 50%;
    right: -10%;
  }
  .back {
    position: absolute;
    top: 50%;
    left: -10%;
  }
}

@include media-m {
  .container {
    width: 90%;
    .preference-box{
      gap: 7px;
      font-size: $font-s;
    }
    .forward {
      right: -7%;
    }
    .back {
      left: -7%;
    }
  }
}
