@import '../../../variables.scss';

.information{
    @include flexcolumn(center , center);
    font-size: $font-s;
    text-align: center;
    gap: 13px;
    max-width: 300px;
    .icon{
        color: $orange;
    }
}